binance==0.3
codes==0.1.5
cryptofeed==2.2.3
einops==0.4.1
joblib==1.2.0
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.2
qpython==2.0.0
scikit_learn==1.1.2
seaborn==0.11.2
torch==1.11.0+cu113
tqdm==4.64.0
websocket_client==1.4.0
xgboost==1.6.0
